img{
	vertical-align: middle;	
}
.blogPost .title, .blogPost .title a {
    font-weight:bold;
    font-size: 18px;
    padding-bottom:10px;
    text-decoration:none;
}


.blogPost .title a:hover {
    text-decoration:underline;
}

.blogPost {
    width:700px;
    margin:40px auto;
    background:#EEEEEE;
    padding:15px;
}

.blogPost .author {
    color:#777777;
}

.blogPost .date {
    color:#777777
}

.blogPost .postBody {
    border-top:1px solid #777777;
    border-bottom:1px solid #777777;
}

.blogPost .comment {
    padding:5px 0px;
}

.blogPost .commentTime, .commentPostInfo {
    color:#777777;
}
.blogPost .commentAvatar{
	float:left;
	margin: 0px 10px 0px 0px;
}
.blogPost .commentBody {
    padding:10px 0px;
    border-bottom:1px solid #BBB;
}
.tablelisting{
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	border-spacing: 1px;
	font-size: 11px;
}
.tablelisting tr{
	background-color: #F7F7F7;
}
.tablelisting tr.even{
	background-color: #ffffff;
}
.tablelisting tr:hover { background: #d7eafe}
.tablelisting th {
	text-align: left;
	background-color: #E0EFEF;
	padding: 4px;
}
.tablelisting th.center{
	text-align:center !important;
}
.tablelisting th a {
	color: #000;
	background-color: inherit;
	text-decoration: none;
	border-bottom: none;
}
.tablelisting th a:hover {
	color: #CC0001; 
	background-color: inherit;	
}
.tablelisting td{
	padding: 5px;
}
.tablelisting td.center{
	text-align: center;
}
.tablelisting a {
	text-decoration: none;
	border-bottom: none;
}
.tablelisting a:hover {
	color: #CC0001; 
	background-color: inherit;	
}
.tablesorter td.center{
	text-align: center;
}
/* Admin Stuff */
.commentTablePostInfo{
	color: #ff5458;
	font-style: italic;
}
.commentTableAvatar{
	float: left;
	margin: 0px 5px 0px 0px;
}